.page {
    width: 100px;
    ;
    width: 100%;
}

.header {
    height: 90px;
    background-color: hsla(14, 100%, 48%, 0.938);
}

.title {
    /* width: 30%; */
    color: white;
    font-size: 55px;
    margin-left: 10px;
    /* text-align: center; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    float: left;
    line-height: 90px;
}

.navigation {
    width: 35%;
    height: 90px;
    float: right;
    text-decoration: none;
    line-height: 110px;
}

.home {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-right: 100px;
    /* padding-left: 120px; */
}

.about {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-right: 80px;
}

.signup {
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 100px;
}

.body {
    height: 450px;
    width: 90%;
    background-color: #db8e09;
    margin-left: 65px;
    border-radius: 20px;
    margin-top: 30px;

}


body {
    background-color: khaki;
    margin: 0px;
}

.missionleft {
    height: 400px;
    width: 45%;
    background-color: whitesmoke;
    float: left;
    margin-left: 30px;
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
    background-color: #db8e09;
}

h1 {
    font-size: 40px;

}

.misionright {
    height: 400px;
    width: 45%;
    background-color: blue;
    float: right;
    margin-right: 30px;
    margin-top: 15px;
    font-size: 30px;
    text-align: center;
    background-color: #db8e09;
}

.footer {
    height: 70px;
    background-color: khaki;
}

.exit {
    width: 17%;
    height: 55px;
    background-color: orange;
    float: right;
    text-align: center;
    border: 0px;
    border-radius: 10px;
    margin-top: 50px;
}

.exit2 {
    /* text-align: center; */
    font-size: 45px;
    font-weight: bold;
    color: wheat;
    text-decoration: none;
}